.informations {
  padding: 16px;

  ion-item {
      --padding-start: 0px;

      ion-icon {
          font-size: 20px;
          color: gray;
      }
  }

  .title {
      display: block;
      font-weight: bold;
      margin-top: 15px;
  }

  ion-button {
      --border-radius: 5px;
      margin-top: 20px;
  }
}