<!-- 
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 foodies app
  Created : 28-Feb-2021
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="util.back()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{util.translate('Add new address')}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="div_map" #map></div>

    <div align="center" *ngIf="from ==='new'">
        <br>
        <ion-button shape="round" fill="outline" size="small" (click)="userCurrentLocation()">
            {{util.translate('Use Current Location')}}
        </ion-button>
        <br>
    </div>

    <div class="informations">

        <ion-item>
            <ion-label position="stacked">{{util.translate('LOCATIONS')}}</ion-label>
            <ion-input [(ngModel)]="address"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">{{util.translate('HOUSE / FLAT NO')}}</ion-label>
            <ion-input [(ngModel)]="house"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">{{util.translate('LANDMARK')}}</ion-label>
            <ion-input [(ngModel)]="landmark"></ion-input>
        </ion-item>

        <!-- <ion-item>
      <ion-label position="stacked">{{util.translate('PINCODE')}}</ion-label>
      <ion-input [(ngModel)]="pincode"></ion-input>
    </ion-item> -->

        <ion-radio-group [(ngModel)]="title" mode="md">

            <ion-label class="title">
                {{util.translate('SAVE AS')}}
            </ion-label>

            <ion-item style="margin-top: 20px;">
                <ion-icon name="home-outline" slot="start"></ion-icon>
                <ion-label>{{util.translate('HOME')}}</ion-label>
                <ion-radio value="home"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-icon name="briefcase-outline" slot="start"></ion-icon>
                <ion-label>{{util.translate('WORK')}}</ion-label>
                <ion-radio value="work"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-icon name="navigate-outline" slot="start"></ion-icon>
                <ion-label>{{util.translate('OTHER')}}</ion-label>
                <ion-radio value="other"></ion-radio>
            </ion-item>
        </ion-radio-group>
        <ion-button *ngIf="from ==='new'" (click)="addAddress()" expand="block">
            {{util.translate('Add')}}
        </ion-button>

        <ion-button *ngIf="from ==='edit'" (click)="updateAddress()" expand="block">
            {{util.translate('Update')}}
        </ion-button>
    </div>
</ion-content>