<ion-header>
    <ion-toolbar color="primary">
        <ion-title style="padding: 0px 20px;">{{util.translate('Terms and Condition')}} </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div *ngIf="!loaded">
        <div *ngFor="let item of [1,2,3,4,5,6,7,8]">
            <h3>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </h3>
            <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
            <h3>
                <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </h3>
        </div>
    </div>
    <p [innerHTML]="getContent()" *ngIf="loaded"></p>
</ion-content>

<ion-footer>
    <ion-toolbar align="center">
        <ion-button color="primary" (click)="accept()">Aceptar</ion-button>
    </ion-toolbar>
</ion-footer>