<!-- 
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 foodies app
  Created : 28-Feb-2021
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<ion-content>
    <div class="mainContent">

        <div class="restContent"
            [ngStyle]="{'background-image':'url('+api.mediaURL+cover+'),url(assets/placeholder.jpg)'}">
            <div class="btnss">
                <div align="center" class="d_date">
                    <ion-button size="small" class="date_btn" (click)="openDatetime()">{{util.translate('Set Date / Time')}}</ion-button>
                    <ion-label color="light" style="font-size: 15px; font-weight: bold;">{{this.cart.d_date}} {{this.cart.d_time}}</ion-label>
                    <!-- <ion-label color="light" style="font-size: 15px;">2021-10-30 12:30:00</ion-label> -->
                </div>
                

                <ion-icon (click)="back()" class="backIcon" color="light" slot="start" name="arrow-back-outline">
                </ion-icon>
                <ion-label class="moreInfo" (click)="openDetails()">{{util.translate('View more')}}</ion-label>
            </div>
        </div>


        <div class="foodsContent">
            <ion-label class="restname">{{name}}</ion-label>
            <ion-label class="cusine">{{cusine}}</ion-label>
            <!-- <div class="ratting">
                <ion-icon [name]="totalRatting >= 1 ? 'star-outline':'star'" [color]="totalRatting >= 1 ? 'warning':'medium'">
                </ion-icon>
                <ion-icon [name]="totalRatting >= 2 ? 'star-outline':'star'" [color]="totalRatting >= 2 ? 'warning':'medium'">
                </ion-icon>
                <ion-icon [name]="totalRatting >= 3 ? 'star-outline':'star'" [color]="totalRatting >= 3 ? 'warning':'medium'">
                </ion-icon>
                <ion-icon [name]="totalRatting >= 4 ? 'star-outline':'star'" [color]="totalRatting >= 4 ? 'warning':'medium'">
                </ion-icon>
                <ion-icon [name]="totalRatting >= 5 ? 'star-outline':'star'" [color]="totalRatting >= 5 ? 'warning':'medium'">
                </ion-icon>
                ( {{ratting}} {{util.translate('Rattings')}} )
            </div> -->
            <div class="deliveryAddress">
                <img src="assets/pin.png" alt="" class="pin">
                <p class="address"> {{address}}</p>

            </div>
            <!-- <div class="vegSection">
                <ion-label>{{util.translate('Veg Only')}}</ion-label>
                <ion-toggle color="success" mode="ios" (ionChange)="statusChange()" [(ngModel)]="veg"></ion-toggle>
            </div> -->
            <div *ngIf="categories?.length">
                <ion-segment #content (ionChange)="segmentChanged()" scrollable [(ngModel)]="caetId" mode="md">
                    <ion-segment-button [value]="item.id" [id]="item.id" *ngFor="let item of categories">
                        <ion-label> {{item.name}} </ion-label>
                    </ion-segment-button>
                </ion-segment>
                <div class="card_div">

                    <div class="card" *ngFor="let item of foods;let i = index">
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <div align="center" class="prod_div">
                                        <img *ngIf="item && item.cid == '13'" [src]="(!item.stock || item.stock <= 0) ? 'assets/imgs/ribbon_agotado.png' : (item.stock <= 10 ? 'assets/imgs/ribbon_ultimas.png' : '')" alt="" class="stock_img">

                                        <img [src]="api.mediaURL+item.cover" class="image_div"
                                            onError="this.src='assets/placeholder.jpg'" [alt]="item.name">

                                        <div class="mainCat">
                                            <div class="desc_div">
                                                <ion-label class="heading_lbl">
                                                    {{ (item.name.length>20)? (item.name | slice:0:20)+'..':(item.name)
                                                    }}
                                                </ion-label>

                                                <ion-label class="heading_lbl">
                                                    {{ (item.details.length>25)? (item.details |
                                                    slice:0:25)+'..':(item.details) }}
                                                </ion-label>
                                                <ion-label class="heading_lbl" style="font-size: 12px;" *ngIf="util.cside ==='left'">
                                                    {{util.currecny}} {{item.price}}</ion-label>
                                                <ion-label class="heading_lbl" style="font-size: 13px;" *ngIf="util.cside ==='right'">
                                                    {{item.price}}
                                                    {{util.currecny}}
                                                </ion-label>
                                            </div>

                                            <div class="cartBtn" *ngIf="!cart.itemId.includes(item.id)">
                                                <ion-label *ngIf="item && item.cid == '13'" style="font-size: 11px; margin-top: 0; margin-bottom: 2px; color: red;">
                                                    {{(!item.stock || item.stock <= 0) ? util.translate('Out of Stock') : (item.stock <= 10) ? util.translate('Low Stock') : ''}}
                                                </ion-label>

                                                <ion-label class="btns" (click)="add(i)">
                                                    {{util.translate('Add')}}
                                                </ion-label>

                                                <ion-label *ngIf="item && item.variations && item.variations?.length"
                                                    style="font-size: 8px;">
                                                    {{util.translate('customizable')}}
                                                </ion-label>

                                                <ion-label *ngIf="item && item.cid == '13'" style="font-size: 11px; margin-top: 2px; margin-bottom: 0px; color: red;">
                                                    {{item.stock}}
                                                </ion-label>
                                            </div>

                                            <div class="cartBtn2" *ngIf="cart.itemId.includes(item.id)">
                                                <ion-button (click)="removeQ(i)" fill="clear" size="small">
                                                    <ion-icon name="remove"></ion-icon>
                                                </ion-button>
                                                <p class="qunitity">{{item.quantiy}}</p>
                                                <ion-button (click)="addQ(i)" fill="clear" size="small">
                                                    <ion-icon name="add"></ion-icon>
                                                </ion-button>
                                            </div>
                                        </div>
                                    </div>

                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>

                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
            </div>
            <div *ngFor="let item of dummy">
                <ion-list>
                    <ion-item>
                        <ion-thumbnail slot="start">
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </ion-thumbnail>
                        <ion-label>
                            <h3>
                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                            </h3>
                            <p>
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </p>
                            <p>
                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </div>

        </div>
    </div>

    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentPopover($event)">
        <ion-fab-button color="light" mode="ios">
            <ion-icon name="list" color="primary"></ion-icon>
            <ion-label color="primary">{{util.translate('Menu')}}</ion-label>
        </ion-fab-button>
    </ion-fab> -->
</ion-content>

<ion-footer *ngIf="cart.cart.length && cart.cart.length > 0" (click)="viewCart()">
    <ion-toolbar color="primary">
        <ion-label color="light">{{cart.totalItem}} {{util.translate('ITEM')}}</ion-label>
        <ion-label color="light" *ngIf="util.cside ==='left'">{{util.currecny}} {{cart.totalPrice}}
            {{util.translate('total price')}}
        </ion-label>
        <ion-label color="light" *ngIf="util.cside ==='right'">{{cart.totalPrice}} {{util.currecny}}
            {{util.translate('total price')}}
        </ion-label>
        <ion-button slot="end" fill="clear" color="light">
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            {{util.translate('View Cart')}}
        </ion-button>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-toolbar>
</ion-footer>