<!-- 
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 foodies app
  Created : 28-Feb-2021
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>{{util.translate('Find Location')}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div align="center" (click)="fixLocation()">
    <img src="assets/imgs/boton_cochabamba.png" alt="" style="width: 45%;"><br>
    <ion-button fill="clear" size="medium" color="large" style="height: 22px; font-weight: bold;">COCHABAMBA</ion-button>
  </div>
  <br>
  <ion-searchbar [placeholder]="util.translate('Search location')" select-all (ionChange)="onSearchChange($event)"
    [debounce]="250" mode="ios" [(ngModel)]="autocomplete1.query">
  </ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of autocompleteItems1" (click)="selectSearchResult1(item)">
      {{ item.description }}
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-item>
  </ion-list>

  <ion-button (click)="getLocation()" expand="block" fill="clear" shape="round" color="primary">
    {{util.translate('Use my current location')}}
  </ion-button>
  <p class="ion-text-center"></p>

  <div #map id="map" class="map"></div>
  <div style="margin-top: 20px;padding: 30px;" *ngIf="lat && lng">
    <ion-button (click)="selectedAddress()" expand="block" shape="round" color="primary">
      {{util.translate('Use This Location')}}
    </ion-button>
  </div>

</ion-content>