/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 foodies app
  Created : 28-Feb-2021
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
*/
.otpContainer {
    margin-top: 50%;
    .headerText {
        text-align: center;
        font-weight: bolder;
        font-size: 2rem;
    }
    .subTitleText {
        text-align: center;
        font-weight: bold;
        color: gray;
        font-size: 1rem;
    }
    .otpInputs {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .btn_class {
        color: white;
        margin: 30px 50px;
    }
}
